* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.flex_col {
    display: flex;
    flex-direction: column;
}

.errors {
    color: red;
}

body {
    /* margin-top: 35px; */
    padding: 0;
    margin: 35px 0 0;
}

.green {
    color: green;
}

.red {
    color: red
}
