.activity_payment {
    border-bottom: 1px solid rgb(225, 225, 225);
}

/* head */
.activity_payment_head {
    display: flex;
    align-items: center;
    position: relative;
    gap: 7px;
    font-size: 12px;
    justify-content: space-between;
}

.activity_payment_head_left {
    display: flex;
    align-items: center;
    gap: 3px;
}

.money_icon_payment_li {
    width: 15px;
    padding: 10px 5px 10px 13px;
}

/* head right totals */
.activity_payment_head_quicktotal {
    font-size: 12px;
    display: flex;
    margin-right: 45px;
    gap: 20px;
    padding-right: 10px;
    overflow-x: hidden;
    word-break: break-word;
}

.align_right {
    text-align: right;
}

.activity_payment_head_quicktotal > div {
    overflow-x: hidden;
    word-break: break-word;
    width: 100px;
}

/* head delete button */
/* displays delete when hovering on header */
.activity_payment_delete {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: transparent;
}


.activity_payment_delete:hover {
    color: red;
}

.delete_payment_btn:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    cursor: pointer;

}

.delete_payment_btn {
    display: flex;
    align-items: center;
    padding: 2px;
    margin-right: 15px;
    font-size: 16px;
}

/* details section */
.activity_payment_details {
    background-color: rgb(245, 245, 245);
    display: none;
    padding: 10px 15px;
}

/* current ecitve details css below - to edit, change in ExpenseListItem.css */
.active_details {
    display: flex;
    flex-direction: column;
    box-shadow: inset 0px 3px 5px rgb(225, 225, 225), inset 0px -3px 5px rgb(225, 225, 225);
}


/* details head */
.activity_payment_details_head {
    display: flex;
    border-bottom: 1px solid rgb(206, 206, 206);
    padding-bottom: 10px;
}

.activity_payment_details_head > img {
    width: 78px;
    border: 1px solid rgb(206, 206, 206);
}

.activity_payment_details_head > div {
    justify-content: center;
    padding-left: 10px;
    gap: 3px;
}

.activity_payment_details_description{
    font-size: 18px;
}

.activity_payment_details_total {
    font-size: 20px;
    font-weight: 700;
}

.edit_payment_btn {
    background-color: #f9702b;
    border: 0.5px solid gray;
    border-radius: 5px;
    padding: 2px 6px;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

/* details bottom */
.activity_payment_details_bottom {
    display: flex;
}

.activity_payment_details_comments,
.activity_payment_details_breakdown {
    width: 50%;
    padding-top: 5px;
}

/* details left side */
.activity_payment_details_breakdown > div {
    display: flex;
    align-items: center;
    gap: 5px;
}


.activity_payment_details_breakdown > div > div {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    word-break: break-word;
    font-size: 13px;
    gap: 5px;
    width: 250px;
    flex-wrap: wrap;
}


.activity_payment_details_breakdown > div > div > span {
    font-weight: 700;
}

/* comments */
.activity_payment_details_comments {
    padding: 15px 5px 5px 15px;
}

.activity_payment_details_comments_head {
    margin-bottom: 10px;
    color: gray;
    font-size: 12px;
}

/* comments */
.activity_expense_details_comments {
    padding: 15px 5px 5px 15px;
}

.activity_expense_details_comments_head {
    margin-bottom: 10px;
    color: gray;
    font-size: 12px;
}

.comment_head {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment_head_left {
    display: flex;
    column-gap: 3px;
    align-items: center;
}

.comment_username {
    font-weight: 700;
    max-width: 170px;
}

.comment_month {
    padding-left: 5px;
}

.comment_month,
.comment_date {
    font-size: 10px;
    color: gray;
}

.comment_box {
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px 10px;
    word-break: break-all;
}

.comment_text {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 3px;
}

.delete_payment_comment_btn {
    color: red;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}

.delete_payment_comment_btn:hover {
    opacity: 0.7;
}
