#group_page_wrapper {
    display: flex;
    justify-content: center;
}

#group_page_left,
#group_page_mid,
#group_page_right {
    min-height: 100vh;
}

#group_page_left,
#group_page_right {
    width: 300px;
}

#group_page_right {
    padding: 0 30px;
}

#group_page_left {
    display: flex;
    justify-content: flex-end;
}

/* middle */
#group_page_mid {
    width: 580px;
    border-left: 1px solid rgb(193, 193, 193);
    border-right: 1px solid rgb(193, 193, 193);
    box-shadow: 1px 0px 15px rgb(225, 225, 225), -1px 0px 15px rgb(225, 225, 225)
}

#group_page_head {
    display: flex;
    justify-content: space-between;
    background-color: rgb(245, 245, 245);
    gap: 30px;
    font-size: 22px;
    font-weight: 700;
    padding: 15px 10px;
    border-bottom: 1px solid rgb(210, 210, 210);
}

#group_page_head_title {
    display: flex;
    align-items: center;
}

#group_page_head_title > img {
    border-radius: 50%;
    width: 33px;
    margin-right: 5px;
}


#group_page_head_buttons_container {
    display: flex;
    gap: 10px;
}

.add_expense_btn {
    background-color: #f9702b;
    border: 0.5px solid gray;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.settle_up_btn {
    background-color: #70caae;
    border: 0.5px solid gray;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}


.user_icon_details {
    border-radius: 50%;
    width: 30px;
    padding: 10px 0;
}

/* RIGHT */
#group_page_right{
    padding-top: 20px;
}

#group_page_right_title {
    color: gray;
    font-size: 14px;
}

#group_page_right_member_item {
    display: flex;
    padding-top: 7px;
}

#group_page_right_member_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8px;
    font-size: 14px;
}

.user_icon_group_right {
    border-radius: 50%;
    width: 40px;
    padding: 10px 0;
}
