#main_wrapper {
    align-items: center;
}

#main_container {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 1300px;
    gap: 40px;
}


#main_left {
    width: 33%;
}

#main_right {
    width: 66%;
}
